In [3]:
print('hello')

hello

In [ ]:
import requests
url     = 'http://google.com'
payload = {}
headers = {}
res = requests.get(url, data=payload, headers=headers)

In [ ]:
import ipywidgets as widgets

widgets.IntSlider(
    min=0,
    max=10,
    step=1,
    description='Slider:',
    value=3
)

In [2]:
import ipywidgets as widgets

btn = widgets.Button(description='Medium')
display(btn)
def btn_eventhandler(obj):
    print('Hello from the {} button!'.format(obj.description))
btn.on_click(btn_eventhandler)

Button(description='Medium', style=ButtonStyle())

Hello from the Medium button!
Hello from the Medium button!

In [5]:
# https://towardsdatascience.com/bring-your-jupyter-notebook-to-life-with-interactive-widgets-bc12e03f0916

import pandas as pd
import numpy as np
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"
df_london = pd.read_csv(url)

ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

dropdown_year = widgets.Dropdown(options = unique_sorted_values_plus_ALL(df_london.year))

def dropdown_year_eventhandler(change):
    if (change.new == ALL):
        display(df_london)
    else:
        display(df_london[df_london.year == change.new])

dropdown_year.observe(dropdown_year_eventhandler, names='value')

display(dropdown_year)

Dropdown(options=('ALL', 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2…

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
30385,2011,Q1,Belgium,1-3 nights,Air,Holiday,LONDON,0.611872,0.181726,1.835620,1
30386,2011,Q1,Belgium,1-3 nights,Air,Business,LONDON,4.240937,1.352962,6.583138,9
30387,2011,Q1,Belgium,1-3 nights,Air,VFR,LONDON,0.448959,0.231214,1.346880,1
30388,2011,Q1,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.386259,0.050408,0.386259,2
30389,2011,Q1,Belgium,1-3 nights,Sea,Holiday,LONDON,3.764496,0.793647,8.743500,5
...,...,...,...,...,...,...,...,...,...,...,...
33860,2011,Q4,Other Africa,8-14 nights,Air,VFR,LONDON,1.203708,0.855506,12.520090,2
33861,2011,Q4,Other Africa,15+ nights,Air,Holiday,LONDON,1.480064,6.357358,60.500319,3
33862,2011,Q4,Other Africa,15+ nights,Air,Business,LONDON,0.344913,0.578671,10.692300,1
33863,2011,Q4,Other Africa,15+ nights,Air,VFR,LONDON,1.186438,1.182593,27.274701,2
33864,2011,Q4,Other Africa,15+ nights,Air,Study,LONDON,0.340270,5.563410,30.284000,1